<!----------------------------------------------------------------------------->
<!---------------------------------LINKS--------------------------------------->
<!----------------------------------------------------------------------------->
<% if !@from_decks_show && !@from_cards_index%>
    <%= link_to "All Cards", cards_path %>
<% end %>
<br>

<!----------------------------------------------------------------------------->
<!-----------------------------CARD MODAL-------------------------------------->
<!----------------------------------------------------------------------------->
<% @card = Card.find(params[:id]) %>
<div class="demo-card-square mdl-card mdl-shadow--2dp containing_card">
      <!------------------------------------------------------------>
      <!--------------------------IMAGE----------------------------->
      <!------------------------------------------------------------>
  <div class="mdl-card__title mdl-card--expand containing_image">
    <%= image_tag("card_#{@card.id}.jpg") %>
  </div>
      <!------------------------------------------------------------>
      <!--------------------------TITLE----------------------------->
      <!------------------------------------------------------------>
  <div class= "mdl-card__title mdl-card--border containing_title">
    <h2 class="mdl-card__supporting-text"><%=@card.name.to_s.strip%></h2>
      <!------------------------------------------------------------>
      <!-------------------------ACTIONS---------------------------->
      <!------------------------------------------------------------>
    <div class= "card_actions">
        <% if @from_cards_index || @from_decks_show %>
            <%= button_to 'arrow_forward', @card, :method => :get, class: "material-icons"%>    
        <% end %>
            <button onclick="show_card_deck_modal(<%=@card.id%>)" type="button" class="material-icons show-dialog">add_to_photos</button>
      </div>
  </div>
      <!------------------------------------------------------------>
      <!--------------------------TABLE----------------------------->
      <!------------------------------------------------------------>
  <div class="mdl-card--border containing_table">
    <table class="mdl-data-table mdl-js-data-table">
        <tbody>
            <%if @card.attack.to_s !="" %>
                <tr>
                    <th class="row_data"><p class="row_data">ATTACK</p></th>
                    <th class="row_data"><p class="row_data"><%=@card.attack.to_s.strip%></p></th>
                </tr>
            <% end %>
            <%if @card.defense.to_s !=""%>
                <tr>
                    <th class="row_data"><p class="row_data">DEFENSE</p></th>
                    <th class="row_data"><p class="row_data"><%=@card.defense.to_s.strip%></p></th>
                </tr>
            <% end %>
            <%if @card.level.to_s !=""%>
                <tr>
                    <th class="row_data"><p class="row_data">STARS</p></th>
                    <th class="row_data"><p class="row_data"><%=@card.level.to_s.strip%></p></th>
                </tr>
            <% end %>
            <% if @card.attribute_value.to_s !=""%>
                <tr>
                    <th class="row_data"><p class="row_data">ATTRIBUTE</p></th>
                    <th class="row_data"><p class="row_data"><%=@card.attribute_value.strip%></p></th>
                </tr>
            <% end %>
            <%if @card.card_type.to_s !=""%>
                <tr>
                    <th class="row_data"><p class="row_data">CARD TYPE</p></th>
                    <th class="row_data"><p class="row_data"><%=@card.card_type.strip%></p></th>
                </tr>
            <% end %>
            <% if @card.monster_type.to_s !="" %>
                <tr>
                    <th class="row_data"><p class="row_data">TYPE</p></th>
                    <th class="row_data"><p class="row_data"><%=@card.monster_type.strip%></p></th>
                </tr>
            <% end%>
            <%if @card.property.to_s !="" %>
                <tr>
                    <th class="row_data"><p class="row_data">PROPERTY</p></th>
                    <th class="row_data"><p class="row_data"><%=@card.property.strip%></p></th>
                </tr>
            <% end%>
            <% if @card.card_effect_type.to_s !="" %>
                <tr>
                    <th class="row_data"><p class="row_data">EFFECT TYPE</p></th>
                    <% card_effect_type = @card.card_effect_type.strip.split('/')%>
                    <th class="row_data">
                        <p class="row_data">
                            <%=card_effect_type[0]%>
                        </p>
                    </th>
                </tr>
                <% card_effect_type[1..card_effect_type.length].each do |cet|%>
                    <tr>
                        <th class="row_data"><p class="row_data"></p></th>
                        <th class="row_data"><p class="row_data"><%=cet%></p></th>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
  </div>
</div>
<!----------------------------------------------------------------------------->
<!---------------------------INVISIBLE STUFF----------------------------------->
<!----------------------------------------------------------------------------->
<%@modal_loaded =true %>
<% if defined? @modal_loaded ="nil" %>
    <%@modal_loaded=true %>
<% end %>