
<!DOCTYPE html>
<html>
  <head>
    <title>Duel Links Deck Analyser</title>
    
    <!--   GOOGLE MATERIAL DESIGN LITE     -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">-->
    <!--<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>-->

    <%= javascript_include_tag "application.js"%>
    <!--, media:"all", "data-turbolinks-track" => true -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application.css"%>
  </head>
  <body>
    <div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
    <%= yield %>
    
    <% if defined? @card !="nil" %>
      <%= render "/decks/add", locals: {card_id: @card.id} %>
    <% end %>

  </body>
</html>